@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Rubik%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-h2QqkTtQbTb0_font-family: "Inter", sans-serif;
  --mixin-h2QqkTtQbTb0_font-size: 16px;
  --mixin-h2QqkTtQbTb0_font-weight: 400;
  --mixin-h2QqkTtQbTb0_font-style: normal;
  --mixin-h2QqkTtQbTb0_color: #535353;
  --mixin-h2QqkTtQbTb0_text-align: left;
  --mixin-h2QqkTtQbTb0_text-transform: none;
  --mixin-h2QqkTtQbTb0_line-height: 1.5;
  --mixin-h2QqkTtQbTb0_letter-spacing: normal;
  --mixin-h2QqkTtQbTb0_white-space: pre-wrap;
  --mixin-h2QqkTtQbTb0_user-select: text;
  --mixin-h2QqkTtQbTb0_text-decoration-line: none;
  --mixin-h2QqkTtQbTb0_text-overflow: clip;
  --mixin-wG9v2Pf2QslR_color: #000000;
  --mixin-wG9v2Pf2QslR_font-size: 24px;
  --mixin-wG9v2Pf2QslR_font-weight: 600;
  --mixin-wG9v2Pf2QslR_letter-spacing: -0.5px;
  --mixin-wG9v2Pf2QslR_line-height: 1.3;
  --mixin-wG9v2Pf2QslR_white-space: pre-wrap;
  --mixin-CknLAtdqjlTR_color: #000000;
  --mixin-CknLAtdqjlTR_font-size: 20px;
  --mixin-CknLAtdqjlTR_font-weight: 600;
  --mixin-CknLAtdqjlTR_letter-spacing: -0.3px;
  --mixin-CknLAtdqjlTR_line-height: 1.5;
  --mixin-CknLAtdqjlTR_white-space: pre-wrap;
  --mixin-v7uZR4gdH8Ok_color: #000000;
  --mixin-v7uZR4gdH8Ok_font-size: 16px;
  --mixin-v7uZR4gdH8Ok_font-weight: 600;
  --mixin-v7uZR4gdH8Ok_line-height: 1.5;
  --mixin-v7uZR4gdH8Ok_white-space: pre-wrap;
  --mixin-ZA5t7urhrm6j_color: #0070f3;
  --mixin-ZA5t7urhrm6j_white-space: pre-wrap;
  --mixin-3cvkik5NPpxm_border-left-color: #dddddd;
  --mixin-3cvkik5NPpxm_border-left-style: solid;
  --mixin-3cvkik5NPpxm_border-left-width: 3px;
  --mixin-3cvkik5NPpxm_color: #888888;
  --mixin-3cvkik5NPpxm_padding-left: 10px;
  --mixin-3cvkik5NPpxm_white-space: pre-wrap;
  --mixin-DvZLcJPDTrEW_color: #000000;
  --mixin-DvZLcJPDTrEW_font-size: 64px;
  --mixin-DvZLcJPDTrEW_font-weight: 700;
  --mixin-DvZLcJPDTrEW_letter-spacing: -1px;
  --mixin-DvZLcJPDTrEW_line-height: 1;
  --mixin-DvZLcJPDTrEW_white-space: pre-wrap;
  --mixin-J0_8QAuyrupH_color: #000000;
  --mixin-J0_8QAuyrupH_font-size: 48px;
  --mixin-J0_8QAuyrupH_font-weight: 700;
  --mixin-J0_8QAuyrupH_line-height: 1.1;
  --mixin-J0_8QAuyrupH_letter-spacing: -0.5px;
  --mixin-J0_8QAuyrupH_white-space: pre-wrap;
  --mixin-tIOryam6vg7__color: #000000;
  --mixin-tIOryam6vg7__font-size: 32px;
  --mixin-tIOryam6vg7__font-weight: 600;
  --mixin-tIOryam6vg7__line-height: 1.2;
  --mixin-tIOryam6vg7__white-space: pre-wrap;
  --mixin-vG9WUPHuq-su_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-vG9WUPHuq-su_border-bottom-color: #dddddd;
  --mixin-vG9WUPHuq-su_border-bottom-style: solid;
  --mixin-vG9WUPHuq-su_border-bottom-width: 1px;
  --mixin-vG9WUPHuq-su_border-left-color: #dddddd;
  --mixin-vG9WUPHuq-su_border-left-style: solid;
  --mixin-vG9WUPHuq-su_border-left-width: 1px;
  --mixin-vG9WUPHuq-su_border-right-color: #dddddd;
  --mixin-vG9WUPHuq-su_border-right-style: solid;
  --mixin-vG9WUPHuq-su_border-right-width: 1px;
  --mixin-vG9WUPHuq-su_border-top-color: #dddddd;
  --mixin-vG9WUPHuq-su_border-top-style: solid;
  --mixin-vG9WUPHuq-su_border-top-width: 1px;
  --mixin-vG9WUPHuq-su_border-bottom-left-radius: 3px;
  --mixin-vG9WUPHuq-su_border-bottom-right-radius: 3px;
  --mixin-vG9WUPHuq-su_border-top-left-radius: 3px;
  --mixin-vG9WUPHuq-su_border-top-right-radius: 3px;
  --mixin-vG9WUPHuq-su_font-family: "Inconsolata";
  --mixin-vG9WUPHuq-su_padding-bottom: 1px;
  --mixin-vG9WUPHuq-su_padding-left: 4px;
  --mixin-vG9WUPHuq-su_padding-right: 4px;
  --mixin-vG9WUPHuq-su_padding-top: 1px;
  --mixin-vG9WUPHuq-su_white-space: pre-wrap;
  --mixin-QF-tayaxQAd3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-QF-tayaxQAd3_border-bottom-color: #dddddd;
  --mixin-QF-tayaxQAd3_border-bottom-style: solid;
  --mixin-QF-tayaxQAd3_border-bottom-width: 1px;
  --mixin-QF-tayaxQAd3_border-left-color: #dddddd;
  --mixin-QF-tayaxQAd3_border-left-style: solid;
  --mixin-QF-tayaxQAd3_border-left-width: 1px;
  --mixin-QF-tayaxQAd3_border-right-color: #dddddd;
  --mixin-QF-tayaxQAd3_border-right-style: solid;
  --mixin-QF-tayaxQAd3_border-right-width: 1px;
  --mixin-QF-tayaxQAd3_border-top-color: #dddddd;
  --mixin-QF-tayaxQAd3_border-top-style: solid;
  --mixin-QF-tayaxQAd3_border-top-width: 1px;
  --mixin-QF-tayaxQAd3_border-bottom-left-radius: 3px;
  --mixin-QF-tayaxQAd3_border-bottom-right-radius: 3px;
  --mixin-QF-tayaxQAd3_border-top-left-radius: 3px;
  --mixin-QF-tayaxQAd3_border-top-right-radius: 3px;
  --mixin-QF-tayaxQAd3_font-family: "Inconsolata";
  --mixin-QF-tayaxQAd3_padding-bottom: 3px;
  --mixin-QF-tayaxQAd3_padding-left: 6px;
  --mixin-QF-tayaxQAd3_padding-right: 6px;
  --mixin-QF-tayaxQAd3_padding-top: 3px;
  --mixin-QF-tayaxQAd3_white-space: pre-wrap;
  --mixin-kGOnAXDmpMNz_display: flex;
  --mixin-kGOnAXDmpMNz_flex-direction: column;
  --mixin-kGOnAXDmpMNz_align-items: stretch;
  --mixin-kGOnAXDmpMNz_justify-content: flex-start;
  --mixin-kGOnAXDmpMNz_list-style-position: outside;
  --mixin-kGOnAXDmpMNz_padding-left: 40px;
  --mixin-kGOnAXDmpMNz_position: relative;
  --mixin-kGOnAXDmpMNz_list-style-type: decimal;
  --mixin-kGOnAXDmpMNz_white-space: pre-wrap;
  --mixin-x6kklWoAxajh_display: flex;
  --mixin-x6kklWoAxajh_flex-direction: column;
  --mixin-x6kklWoAxajh_align-items: stretch;
  --mixin-x6kklWoAxajh_justify-content: flex-start;
  --mixin-x6kklWoAxajh_list-style-position: outside;
  --mixin-x6kklWoAxajh_padding-left: 40px;
  --mixin-x6kklWoAxajh_position: relative;
  --mixin-x6kklWoAxajh_list-style-type: disc;
  --mixin-x6kklWoAxajh_white-space: pre-wrap;
  --mixin-fa4C02GDfvUw_color: #3291ff;
  --mixin-fa4C02GDfvUw_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-h2QqkTtQbTb0_font-family);
  font-size: var(--mixin-h2QqkTtQbTb0_font-size);
  font-weight: var(--mixin-h2QqkTtQbTb0_font-weight);
  font-style: var(--mixin-h2QqkTtQbTb0_font-style);
  color: var(--mixin-h2QqkTtQbTb0_color);
  text-align: var(--mixin-h2QqkTtQbTb0_text-align);
  text-transform: var(--mixin-h2QqkTtQbTb0_text-transform);
  line-height: var(--mixin-h2QqkTtQbTb0_line-height);
  letter-spacing: var(--mixin-h2QqkTtQbTb0_letter-spacing);
  white-space: var(--mixin-h2QqkTtQbTb0_white-space);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-wG9v2Pf2QslR_color);
  font-size: var(--mixin-wG9v2Pf2QslR_font-size);
  font-weight: var(--mixin-wG9v2Pf2QslR_font-weight);
  letter-spacing: var(--mixin-wG9v2Pf2QslR_letter-spacing);
  line-height: var(--mixin-wG9v2Pf2QslR_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-CknLAtdqjlTR_color);
  font-size: var(--mixin-CknLAtdqjlTR_font-size);
  font-weight: var(--mixin-CknLAtdqjlTR_font-weight);
  letter-spacing: var(--mixin-CknLAtdqjlTR_letter-spacing);
  line-height: var(--mixin-CknLAtdqjlTR_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-v7uZR4gdH8Ok_color);
  font-size: var(--mixin-v7uZR4gdH8Ok_font-size);
  font-weight: var(--mixin-v7uZR4gdH8Ok_font-weight);
  line-height: var(--mixin-v7uZR4gdH8Ok_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-ZA5t7urhrm6j_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-3cvkik5NPpxm_color);
  padding-left: var(--mixin-3cvkik5NPpxm_padding-left);
  border-left: var(--mixin-3cvkik5NPpxm_border-left-width)
    var(--mixin-3cvkik5NPpxm_border-left-style)
    var(--mixin-3cvkik5NPpxm_border-left-color);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-DvZLcJPDTrEW_color);
  font-size: var(--mixin-DvZLcJPDTrEW_font-size);
  font-weight: var(--mixin-DvZLcJPDTrEW_font-weight);
  letter-spacing: var(--mixin-DvZLcJPDTrEW_letter-spacing);
  line-height: var(--mixin-DvZLcJPDTrEW_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-J0_8QAuyrupH_color);
  font-size: var(--mixin-J0_8QAuyrupH_font-size);
  font-weight: var(--mixin-J0_8QAuyrupH_font-weight);
  line-height: var(--mixin-J0_8QAuyrupH_line-height);
  letter-spacing: var(--mixin-J0_8QAuyrupH_letter-spacing);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-tIOryam6vg7__color);
  font-size: var(--mixin-tIOryam6vg7__font-size);
  font-weight: var(--mixin-tIOryam6vg7__font-weight);
  line-height: var(--mixin-tIOryam6vg7__line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-vG9WUPHuq-su_font-family);
  border-radius: var(--mixin-vG9WUPHuq-su_border-top-left-radius)
    var(--mixin-vG9WUPHuq-su_border-top-right-radius)
    var(--mixin-vG9WUPHuq-su_border-bottom-right-radius)
    var(--mixin-vG9WUPHuq-su_border-bottom-left-radius);
  padding: var(--mixin-vG9WUPHuq-su_padding-top)
    var(--mixin-vG9WUPHuq-su_padding-right)
    var(--mixin-vG9WUPHuq-su_padding-bottom)
    var(--mixin-vG9WUPHuq-su_padding-left);
  border-top: var(--mixin-vG9WUPHuq-su_border-top-width)
    var(--mixin-vG9WUPHuq-su_border-top-style)
    var(--mixin-vG9WUPHuq-su_border-top-color);
  border-right: var(--mixin-vG9WUPHuq-su_border-right-width)
    var(--mixin-vG9WUPHuq-su_border-right-style)
    var(--mixin-vG9WUPHuq-su_border-right-color);
  border-bottom: var(--mixin-vG9WUPHuq-su_border-bottom-width)
    var(--mixin-vG9WUPHuq-su_border-bottom-style)
    var(--mixin-vG9WUPHuq-su_border-bottom-color);
  border-left: var(--mixin-vG9WUPHuq-su_border-left-width)
    var(--mixin-vG9WUPHuq-su_border-left-style)
    var(--mixin-vG9WUPHuq-su_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-QF-tayaxQAd3_font-family);
  border-radius: var(--mixin-QF-tayaxQAd3_border-top-left-radius)
    var(--mixin-QF-tayaxQAd3_border-top-right-radius)
    var(--mixin-QF-tayaxQAd3_border-bottom-right-radius)
    var(--mixin-QF-tayaxQAd3_border-bottom-left-radius);
  padding: var(--mixin-QF-tayaxQAd3_padding-top)
    var(--mixin-QF-tayaxQAd3_padding-right)
    var(--mixin-QF-tayaxQAd3_padding-bottom)
    var(--mixin-QF-tayaxQAd3_padding-left);
  border-top: var(--mixin-QF-tayaxQAd3_border-top-width)
    var(--mixin-QF-tayaxQAd3_border-top-style)
    var(--mixin-QF-tayaxQAd3_border-top-color);
  border-right: var(--mixin-QF-tayaxQAd3_border-right-width)
    var(--mixin-QF-tayaxQAd3_border-right-style)
    var(--mixin-QF-tayaxQAd3_border-right-color);
  border-bottom: var(--mixin-QF-tayaxQAd3_border-bottom-width)
    var(--mixin-QF-tayaxQAd3_border-bottom-style)
    var(--mixin-QF-tayaxQAd3_border-bottom-color);
  border-left: var(--mixin-QF-tayaxQAd3_border-left-width)
    var(--mixin-QF-tayaxQAd3_border-left-style)
    var(--mixin-QF-tayaxQAd3_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-kGOnAXDmpMNz_display);
  flex-direction: var(--mixin-kGOnAXDmpMNz_flex-direction);
  align-items: var(--mixin-kGOnAXDmpMNz_align-items);
  justify-content: var(--mixin-kGOnAXDmpMNz_justify-content);
  list-style-position: var(--mixin-kGOnAXDmpMNz_list-style-position);
  padding-left: var(--mixin-kGOnAXDmpMNz_padding-left);
  position: var(--mixin-kGOnAXDmpMNz_position);
  list-style-type: var(--mixin-kGOnAXDmpMNz_list-style-type);
  flex-column-gap: var(--mixin-kGOnAXDmpMNz_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-x6kklWoAxajh_display);
  flex-direction: var(--mixin-x6kklWoAxajh_flex-direction);
  align-items: var(--mixin-x6kklWoAxajh_align-items);
  justify-content: var(--mixin-x6kklWoAxajh_justify-content);
  list-style-position: var(--mixin-x6kklWoAxajh_list-style-position);
  padding-left: var(--mixin-x6kklWoAxajh_padding-left);
  position: var(--mixin-x6kklWoAxajh_position);
  list-style-type: var(--mixin-x6kklWoAxajh_list-style-type);
  flex-column-gap: var(--mixin-x6kklWoAxajh_flex-column-gap);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-fa4C02GDfvUw_color);
}
