.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-content: flex-start;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 72px 0px 0px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox__zqqXj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 16px;
  justify-self: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.img__m6TwS {
  object-fit: cover;
  max-width: 100%;
  height: 540px;
  flex-shrink: 0;
}
.img__m6TwS > picture > img {
  object-fit: cover;
}
.text___20ImB {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 80px;
  z-index: 1;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  font-family: "Rubik", sans-serif;
  font-size: 38px;
  text-align: left;
  color: #ffffff;
  box-shadow: none;
  font-weight: 500;
  line-height: 1.3;
  min-width: 0;
}
.button__yPftu:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 32px;
  top: 313px;
}
.svg__wreVz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tiWXc {
  color: #ff7a00;
}
.svg__jaP8N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.sliderCarousel:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 8px 0px 0px;
}
.freeBox___9Hs2L {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__ji3As {
  object-fit: cover;
  max-width: 100%;
  height: 540px;
  box-shadow: inset 10px 0px 16px 40px #0000008a;
  flex-shrink: 0;
}
.img__ji3As > picture > img {
  object-fit: cover;
}
.button__jSJv:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 42px;
  top: 363px;
}
.svg__nPUfS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__eb196 {
  color: #ff7a00;
}
.svg___3NJnd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tmawm {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 134px;
  z-index: 1;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 38px;
  text-align: left;
  color: #ffffff;
  box-shadow: none;
  font-weight: 500;
  min-width: 0;
}
.freeBox__tsqJe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__pVfSq {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 130px;
  z-index: 1;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 38px;
  text-align: left;
  color: #ffffff;
  box-shadow: none;
  font-weight: 500;
  min-width: 0;
}
.img___2Mqmy {
  object-fit: cover;
  max-width: 100%;
  height: 540px;
  flex-shrink: 0;
}
.img___2Mqmy > picture > img {
  object-fit: cover;
}
.freeBox__mpt9J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__ojmMl {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 130px;
  z-index: 1;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 38px;
  text-align: left;
  color: #ffffff;
  box-shadow: none;
  font-weight: 500;
  min-width: 0;
}
.img___37KLr {
  object-fit: cover;
  max-width: 100%;
  height: 540px;
  flex-shrink: 0;
  margin: 0px;
}
.img___37KLr > picture > img {
  object-fit: cover;
}
.freeBox___1RhoR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: center;
  min-width: 0;
  padding: 44px 8px;
}
.freeBox___1RhoR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___1RhoR > :global(.__wab_flex-container) > *,
.freeBox___1RhoR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1RhoR > :global(.__wab_flex-container) > picture > img,
.freeBox___1RhoR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__jjtQx {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  color: #ff7a00;
  font-family: "Rubik", sans-serif;
  margin-top: calc(0px + 16px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
}
.h3___1Djo0 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  font-size: 34px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin-top: calc(0px + 16px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
}
.text__bFnh1 {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  margin-bottom: 8px;
  min-width: 0;
}
.button__lfRkE:global(.__wab_instance) {
  max-width: 100%;
}
.svg__unngI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8Dy45 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.img__dRmHg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 200px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.img__dRmHg > picture > img {
  object-fit: cover;
}
.freeBox__iarD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: center;
  min-width: 0;
  padding: 44px 8px;
}
.freeBox__iarD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__iarD > :global(.__wab_flex-container) > *,
.freeBox__iarD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iarD > :global(.__wab_flex-container) > picture > img,
.freeBox__iarD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__jqGk6 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  color: #ff7a00;
  font-family: "Rubik", sans-serif;
  margin-top: calc(0px + 16px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
}
.h3___3OUgB {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  font-size: 34px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin-top: calc(0px + 16px) !important;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  min-width: 0;
}
.button__xwTfe:global(.__wab_instance) {
  max-width: 100%;
}
.svg__g4D7Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lx2HE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__zdGw2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__zdGw2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__zdGw2 > :global(.__wab_flex-container) > *,
.freeBox__zdGw2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zdGw2 > :global(.__wab_flex-container) > picture > img,
.freeBox__zdGw2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__p7Lau {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__p7Lau > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__p7Lau > :global(.__wab_flex-container) > *,
.freeBox__p7Lau > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p7Lau > :global(.__wab_flex-container) > picture > img,
.freeBox__p7Lau
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.link__sNx2Q {
  position: relative;
  display: flex;
}
.img__tocf5 {
  object-fit: contain;
  max-width: auto;
  width: 180px;
  height: auto;
  flex-shrink: 0;
}
.img__tocf5 > picture > img {
  object-fit: contain;
}
.img___0BNR {
  position: relative;
  object-fit: contain;
  width: 180px;
  flex-shrink: 0;
}
.img___0BNR > picture > img {
  object-fit: contain;
}
.freeBox__qoAqQ {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__qoAqQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__qoAqQ > :global(.__wab_flex-container) > *,
.freeBox__qoAqQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qoAqQ > :global(.__wab_flex-container) > picture > img,
.freeBox__qoAqQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.img__hBpi {
  position: relative;
  object-fit: contain;
  max-width: auto;
  width: 180px;
  height: auto;
  flex-shrink: 0;
}
.img__hBpi > picture > img {
  object-fit: contain;
}
.img__pDusv {
  position: relative;
  object-fit: contain;
  width: 180px;
  flex-shrink: 0;
}
.img__pDusv > picture > img {
  object-fit: contain;
}
.freeBox__eCAk3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: center;
  min-width: 0;
  padding: 44px 8px;
}
.freeBox__eCAk3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eCAk3 > :global(.__wab_flex-container) > *,
.freeBox__eCAk3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eCAk3 > :global(.__wab_flex-container) > picture > img,
.freeBox__eCAk3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__qgVzB {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  color: #ff7a00;
  font-family: "Rubik", sans-serif;
  margin-top: calc(0px + 16px) !important;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 0;
}
.h3__auSrO {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  font-size: 34px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin-top: calc(0px + 16px) !important;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__nojyG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: var(--token-oYI7ebdZitcv);
  padding: 0px;
}
.freeBox__nojyG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__nojyG > :global(.__wab_flex-container) > *,
.freeBox__nojyG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nojyG > :global(.__wab_flex-container) > picture > img,
.freeBox__nojyG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.usp {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#f7f7f7, #f7f7f7), #ededed;
  min-width: 0;
  border-radius: 12px;
  padding: 0px 24px 0px 0px;
}
.usp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.usp > :global(.__wab_flex-container) > *,
.usp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.usp > :global(.__wab_flex-container) > picture > img,
.usp > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox___7D6Xo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 24px 0px 24px 24px;
}
.freeBox___7D6Xo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___7D6Xo > :global(.__wab_flex-container) > *,
.freeBox___7D6Xo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7D6Xo > :global(.__wab_flex-container) > picture > img,
.freeBox___7D6Xo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__njoNs {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 21px;
  color: #000000;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox___7YqOo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___7YqOo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___7YqOo > :global(.__wab_flex-container) > *,
.freeBox___7YqOo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7YqOo > :global(.__wab_flex-container) > picture > img,
.freeBox___7YqOo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__eafAx {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.img__g7SGp {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img__g7SGp > picture > img {
  object-fit: cover;
}
.usp2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#f7f7f7, #f7f7f7), #ededed;
  min-width: 0;
  border-radius: 12px;
  padding: 0px 24px 0px 0px;
}
.usp2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.usp2 > :global(.__wab_flex-container) > *,
.usp2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.usp2 > :global(.__wab_flex-container) > picture > img,
.usp2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox__kv4E {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 24px 0px 24px 24px;
}
.freeBox__kv4E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kv4E > :global(.__wab_flex-container) > *,
.freeBox__kv4E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kv4E > :global(.__wab_flex-container) > picture > img,
.freeBox__kv4E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___6Xtwr {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 21px;
  color: #000000;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__pA0Bo {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__pA0Bo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__pA0Bo > :global(.__wab_flex-container) > *,
.freeBox__pA0Bo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pA0Bo > :global(.__wab_flex-container) > picture > img,
.freeBox__pA0Bo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__wkzZk {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.img__piHmh {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img__piHmh > picture > img {
  object-fit: cover;
}
.usp3 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#f7f7f7, #f7f7f7), #ededed;
  min-width: 0;
  border-radius: 12px;
  padding: 0px 24px 0px 0px;
}
.usp3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.usp3 > :global(.__wab_flex-container) > *,
.usp3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.usp3 > :global(.__wab_flex-container) > picture > img,
.usp3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox__rJnFp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 24px 0px 24px 24px;
}
.freeBox__rJnFp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__rJnFp > :global(.__wab_flex-container) > *,
.freeBox__rJnFp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rJnFp > :global(.__wab_flex-container) > picture > img,
.freeBox__rJnFp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__sUa3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 21px;
  color: #000000;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__nppuk {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__nppuk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nppuk > :global(.__wab_flex-container) > *,
.freeBox__nppuk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nppuk > :global(.__wab_flex-container) > picture > img,
.freeBox__nppuk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__jQMG {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.img__z7CQk {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.img__z7CQk > picture > img {
  object-fit: cover;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 44px 24px;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .footer {
    padding-left: 324px;
    padding-right: 324px;
  }
}
.link__dvL7B {
  position: relative;
  display: flex;
}
.img__n4M3Z {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  flex-shrink: 0;
}
.img__n4M3Z > picture > img {
  object-fit: cover;
}
.text__v9ZzL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 300;
  min-width: 0;
}
.freeBox__hpgz3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 16px;
  min-width: 0;
  padding: 0px;
}
.freeBox__wPIen {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__wPIen > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__wPIen > :global(.__wab_flex-container) > *,
.freeBox__wPIen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wPIen > :global(.__wab_flex-container) > picture > img,
.freeBox__wPIen
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__h8Goz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
.text__uhuy1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  min-width: 0;
}
.text__rnahe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  min-width: 0;
}
.text__lH5H7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  min-width: 0;
}
.freeBox__xVzXy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xVzXy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xVzXy > :global(.__wab_flex-container) > *,
.freeBox__xVzXy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xVzXy > :global(.__wab_flex-container) > picture > img,
.freeBox__xVzXy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ragvJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
.text__pjgKl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  min-width: 0;
}
.freeBox__hLHc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hLHc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__hLHc > :global(.__wab_flex-container) > *,
.freeBox__hLHc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hLHc > :global(.__wab_flex-container) > picture > img,
.freeBox__hLHc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__ukwD4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
.text__gccXk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: calc(0px + 12px) !important;
  margin-right: 0px;
  margin-left: 0px;
  font-weight: 300;
  min-width: 0;
}
.button__gpbQb:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ii8Fv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fieCx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__p66Oe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__p66Oe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__p66Oe > :global(.__wab_flex-container) > *,
.freeBox__p66Oe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p66Oe > :global(.__wab_flex-container) > picture > img,
.freeBox__p66Oe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__iml8 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(16px + 8px) !important;
  min-width: 0;
  padding: 0px;
}
.freeBox__iml8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__iml8 > :global(.__wab_flex-container) > *,
.freeBox__iml8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iml8 > :global(.__wab_flex-container) > picture > img,
.freeBox__iml8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  height: 1em;
}
.text__z2LpA {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  min-width: 0;
}
.text___1GZlS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 300;
  min-width: 0;
}
.text__k8GlR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  font-size: 9px;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: center;
  min-width: 0;
}
.navigationBar:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  background: #ffffff;
  text-align: center;
  padding: 24px;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    top: 0;
    right: 0;
    left: 0;
  }
}
.link__qr6Rv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__b1Q4P {
  display: flex;
}
.img__d8U6 {
  object-fit: cover;
  height: 40px;
  align-self: center;
}
.img__d8U6 > picture > img {
  object-fit: cover;
}
.img__kj7I {
  object-fit: cover;
}
.img__kj7I > picture > img {
  object-fit: cover;
}
.img__iD6D {
  object-fit: cover;
}
.img__iD6D > picture > img {
  object-fit: cover;
}
.link__gygJb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #0070f3;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 768px) {
  .link__gygJb {
    display: none;
  }
}
.link__dfn5R {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #0070f3;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 768px) {
  .link__dfn5R {
    display: none;
  }
}
.link__jzlH {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #0070f3;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
@media (min-width: 768px) {
  .link__jzlH {
    display: none;
  }
}
.img__eyMw3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img__eyMw3 > picture > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img__eyMw3 {
    display: none !important;
  }
}
